<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Unauthorized</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    body {
        background-image: url('../static/images/slider_background.jpg');
        background-size: top;
    }
    .container {
        margin-top: 100px;
        text-align: center;
        color: #fff;
        font-weight: bold;
    }
</style>
</head>
<body>
<div class="container">
    <h1 class="display-4"><b>Unauthorized Access</b></h1>
    <p class="lead"><b>You are not logged-in to access this page.</b></p>
    <p><a class="btn btn-primary" href="/login">Click here to login</a></p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
