<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select</title>
</head>
<body>
    <form action="/view" method="post">
        <label for="year">Year of Studying:</label>
        <input type="text" id="year" name="year"><br><br>
        
        <label for="branch">Branch of Study:</label>
        <input type="text" id="branch" name="branch"><br><br>
        
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject"><br><br>
        
        <label for="type">Resource Type:</label>
        <input type="text" id="type" name="type"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
