<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Resource</title>
    <style>
        body {
            background-image: url('../static/images/slider_background.jpg');
            background-size: cover;
            font-family: Arial, sans-serif;
            background-color: rgba(242, 242, 242, 0.8); /* Semi-transparent background */
            padding: 20px;
        }

        h1 {
            text-align: center;
            color: #ffffff;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #333;
            font-weight: bold;
        }

        input[type="text"],
        input[type="file"],
        input[type="submit"],
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
        }

        input[type="file"] {
            cursor: pointer;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

        .error {
            color: red;
            font-size: 14px;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <h1>Upload Resource</h1>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
        <label for="year">Year of Studying:</label>
        <select id="year" name="year">
            <option value="">Select Year</option>
            <option value="1st Year">1st Year</option>
            <option value="2nd Year">2nd Year</option>
            <option value="3rd Year">3rd Year</option>
            <option value="4th Year">4th Year</option>
        </select>
        <span id="yearError" class="error"></span>

        <label for="branch">Branch of Study:</label>
        <select id="branch" name="branch" onchange="updateSubjects()">
            <option value="">Select Branch</option>
        </select>
        <span id="branchError" class="error"></span>

        <label for="sem">Semester:</label>
        <select id="sem" name="sem" onchange="updateSubjects()">
            <option value="">Select Semester</option>
            <option value="sem1">Semester 1</option>
            <option value="sem2">Semester 2</option>
            <option value="sem3">Semester 3</option>
            <option value="sem4">Semester 4</option>
            <option value="sem5">Semester 5</option>
            <option value="sem6">Semester 6</option>
            <option value="sem7">Semester 7</option>
            <option value="sem8">Semester 8</option>
        </select>
        <span id="semError" class="error"></span>

        <label for="subject">Subject:</label>
        <select id="subject" name="subject">
            <option value="">Select Subject</option>
            <!-- Options will be dynamically updated based on the selected branch -->
        </select>
        <span id="subjectError" class="error"></span>

        <label for="type">Resource Type:</label>
        <select id="type" name="type">
            <option value="">Select Resource Type</option>
            <option value="Lecture Material">Lecture Material</option>
            <option value="Lab Resource">Lab Resource</option>
            <option value="Tutorial">Tutorial</option>
            <option value="Assignment">Assignment</option>
            <option value="Notes">Notes</option>
            <option value="Video">Video</option>
            <option value="Past Year Paper">Past Year Paper</option>
            <option value="Book">Book</option>
            <option value="Miscellaneous">Miscellaneous</option>
            <!-- Add more resource types as needed -->
        </select>
        <span id="typeError" class="error"></span>

        <label for="subject">Title</label>
        <input type="text" id="title" name="title">
        <span id="titleError" class="error"></span>

        <label for="file">Choose file:</label>
        <input type="file" id="file" name="file">
        <span id="fileError" class="error"></span>

        <input type="submit" value="Upload">
    </form>

    <script>
        // Function to update the branch options based on the year
        function updateBranch() {
            var yearSelect = document.getElementById("year");
            var branchSelect = document.getElementById("branch");

            // Clear existing options
            branchSelect.innerHTML = '<option value="">Select Branch</option>';

            switch (yearSelect.value) {
                case "1st Year":
                    
                    branchSelect.innerHTML += `
                        <option value="computer">Computer</option>
                        <option value="mechanical">Mechanical</option>
                        <option value="E & TC">E & TC</option>
                        <option value="civil">Civil</option>
                        <option value="instrumentation">Instrumentation</option>
                        <option value="electrical">Electrical</option>
                        <option value="planning">Planning</option>
                        <option value="manufacturing">Manufacturing</option>
                        <option value="metallurgy">Metallurgy</option>
                    `;
            }
        }

        // Call updateBranch() when year selection changes
        document.getElementById("year").addEventListener("change", updateBranch);


        // Function to update the branch options based on the year
        function updateSem() {
            var yearSelect = document.getElementById("year");
            var semSelect = document.getElementById("sem");

            // Clear existing options
            semSelect.innerHTML = '<option value="">Select Semester</option>';

            switch (yearSelect.value) {
                case "1st Year":
                    semSelect.innerHTML += `
                            <option value="sem1">Semester 1</option>
                            <option value="sem2">Semester 2</option>
                        `;
                    break;
                case "2nd Year":
                    semSelect.innerHTML += `
                            <option value="sem3">Semester 3</option>
                            <option value="sem4">Semester 4</option>
                        `;
                    break;
                case "3rd Year":
                    semSelect.innerHTML += `
                            <option value="sem5">Semester 5</option>
                            <option value="sem6">Semester 6</option>
                        `;
                    break;
                case "4th Year":
                    semSelect.innerHTML += `
                            <option value="sem7">Semester 7</option>
                            <option value="sem8">Semester 8</option>
                        `;
                    break;
                default:
                    semSelect.innerHTML += `
                            <option value="sem1">Semester 1</option>
                            <option value="sem2">Semester 2</option>
                            <option value="sem3">Semester 3</option>
                            <option value="sem4">Semester 4</option>
                            <option value="sem5">Semester 5</option>
                            <option value="sem6">Semester 6</option>
                            <option value="sem7">Semester 7</option>
                            <option value="sem8">Semester 8</option>
                        `;
            }
        }

        // Call updateSem() when year selection changes
        document.getElementById("year").addEventListener("change", updateSem);


        function updateSubjects() {
            var branchSelect = document.getElementById("branch");
            var semSelect = document.getElementById("sem");
            var subjectSelect = document.getElementById("subject");

            // Clear existing options
            subjectSelect.innerHTML = '<option value="">Select Subject</option>';

            // Define subjects based on branch and semester
            var subjects = [];
            switch (branchSelect.value) {
                case "computer":
                    switch (semSelect.value) {
                        case "sem1":
                            subjects = ["LA", "OMP", "BEE", "FME", "PPS", "ACH", "IKS", "LLC"];
                            break;
                        case "sem2":
                            subjects = ["QP", "PS", "DLD", "EDG", "DS", "WD", "CS", "LLC-II"];
                            break;
                        case "sem3":
                            subjects = ["ODEMC", "PLEVH", "INC", "DTL", "FCS", "DSA-I", "DLD", "DSGT", "PPL"];
                            break;
                        case "sem4":
                            subjects = ["VCPDE", "BFE", "RPPOOP", "SA", "TOC", "MT", "DSA-II", "DC"];
                            break;
                        case "sem5":
                            subjects = ["HONOR1-MSD", "HONOR1-FICT", "PSE", "COL", "CO", "DBMS", "AI", "CN", "IFC-ROBO", "SE-1", "EPP",];
                            break;
                        case "sem6":
                            subjects = ["HONOR2-EH", "HONOR2-BDA", "ADS", "SP", "RTCN", "WST", "OS", "DAA", "SE-2", "DSCI", "ES"];
                            break;
                        case "sem7":
                            subjects = ["HONOR3-DL", "HONOR3-MA", "DE3-IOT", "DE3-NLP", "DE3-CS", "CNS", "CC", "IPR", "DE2-IR", "DE2-ADBMS", "DE2-DS"];
                            break;
                        case "sem8":
                            subjects = ["HONOR4-RL", "HONOR4-IOTS", "DE4-SA", "DE4-GIS", "DE4-GPUC", "DE4-MAN"];
                            break;
                    }
                    break;
                case "mechanical":
                    switch (semSelect.value) {
                        case "sem1":
                            subjects = ["LA", "OMP", "BEE", "FME", "PPS", "ACH", "IKS", "LLC"];
                            break;
                        case "sem2":
                            subjects = ["QP", "PS", "DLD", "EDG", "DS", "WD", "CS", "LLC-II"];
                            break;
                        case "sem3":
                            subjects = ["ODEMC", "PLEVH", "INC", "DTL", "FCS", "DSA-I", "DLD", "DSGT", "PPL"];
                            break;
                        case "sem4":
                            subjects = ["VCPDE", "BFE", "RPPOOP", "SA", "TOC", "MT", "DSA-II", "DC"];
                            break;
                        case "sem5":
                            subjects = ["HONOR1-MSD", "HONOR1-FICT", "PSE", "COL", "CO", "DBMS", "AI", "CN", "IFC-ROBO", "SE-1", "EPP",];
                            break;
                        case "sem6":
                            subjects = ["HONOR2-EH", "HONOR2-BDA", "ADS", "SP", "RTCN", "WST", "OS", "DAA", "SE-2", "DSCI", "ES"];
                            break;
                        case "sem7":
                            subjects = ["HONOR3-DL", "HONOR3-MA", "DE3-IOT", "DE3-NLP", "DE3-CS", "CNS", "CC", "IPR", "DE2-IR", "DE2-ADBMS", "DE2-DS"];
                            break;
                        case "sem8":
                            subjects = ["HONOR4-RL", "HONOR4-IOTS", "DE4-SA", "DE4-GIS", "DE4-GPUC", "DE4-MAN"];
                            break;
                    }
                    break;
                case "E & TC":
                    switch (semSelect.value) {
                        case "sem1":
                            subjects = ["LA", "OMP", "BEE", "FME", "PPS", "ACH", "IKS", "LLC"];
                            break;
                        case "sem2":
                            subjects = ["QP", "PS", "DLD", "EDG", "DS", "WD", "CS", "LLC-II"];
                            break;
                        case "sem3":
                            subjects = ["ODEMC", "PLEVH", "INC", "DTL", "FCS", "DSA-I", "DLD", "DSGT", "PPL"];
                            break;
                        case "sem4":
                            subjects = ["VCPDE", "BFE", "RPPOOP", "SA", "TOC", "MT", "DSA-II", "DC"];
                            break;
                        case "sem5":
                            subjects = ["HONOR1-MSD", "HONOR1-FICT", "PSE", "COL", "CO", "DBMS", "AI", "CN", "IFC-ROBO", "SE-1", "EPP",];
                            break;
                        case "sem6":
                            subjects = ["HONOR2-EH", "HONOR2-BDA", "ADS", "SP", "RTCN", "WST", "OS", "DAA", "SE-2", "DSCI", "ES"];
                            break;
                        case "sem7":
                            subjects = ["HONOR3-DL", "HONOR3-MA", "DE3-IOT", "DE3-NLP", "DE3-CS", "CNS", "CC", "IPR", "DE2-IR", "DE2-ADBMS", "DE2-DS"];
                            break;
                        case "sem8":
                            subjects = ["HONOR4-RL", "HONOR4-IOTS", "DE4-SA", "DE4-GIS", "DE4-GPUC", "DE4-MAN"];
                            break;
                    }
                    break;
                case "civil":
                    switch (semSelect.value) {
                        case "sem1":
                            subjects = ["LA", "OMP", "BEE", "FME", "PPS", "ACH", "IKS", "LLC"];
                            break;
                        case "sem2":
                            subjects = ["QP", "PS", "DLD", "EDG", "DS", "WD", "CS", "LLC-II"];
                            break;
                        case "sem3":
                            subjects = ["ODEMC", "PLEVH", "INC", "DTL", "FCS", "DSA-I", "DLD", "DSGT", "PPL"];
                            break;
                        case "sem4":
                            subjects = ["VCPDE", "BFE", "RPPOOP", "SA", "TOC", "MT", "DSA-II", "DC"];
                            break;
                        case "sem5":
                            subjects = ["HONOR1-MSD", "HONOR1-FICT", "PSE", "COL", "CO", "DBMS", "AI", "CN", "IFC-ROBO", "SE-1", "EPP",];
                            break;
                        case "sem6":
                            subjects = ["HONOR2-EH", "HONOR2-BDA", "ADS", "SP", "RTCN", "WST", "OS", "DAA", "SE-2", "DSCI", "ES"];
                            break;
                        case "sem7":
                            subjects = ["HONOR3-DL", "HONOR3-MA", "DE3-IOT", "DE3-NLP", "DE3-CS", "CNS", "CC", "IPR", "DE2-IR", "DE2-ADBMS", "DE2-DS"];
                            break;
                        case "sem8":
                            subjects = ["HONOR4-RL", "HONOR4-IOTS", "DE4-SA", "DE4-GIS", "DE4-GPUC", "DE4-MAN"];
                            break;
                    }
                    break;
                case "instrumentation":
                    switch (semSelect.value) {
                        case "sem1":
                            subjects = ["LA", "OMP", "BEE", "FME", "PPS", "ACH", "IKS", "LLC"];
                            break;
                        case "sem2":
                            subjects = ["QP", "PS", "DLD", "EDG", "DS", "WD", "CS", "LLC-II"];
                            break;
                        case "sem3":
                            subjects = ["ODEMC", "PLEVH", "INC", "DTL", "FCS", "DSA-I", "DLD", "DSGT", "PPL"];
                            break;
                        case "sem4":
                            subjects = ["VCPDE", "BFE", "RPPOOP", "SA", "TOC", "MT", "DSA-II", "DC"];
                            break;
                        case "sem5":
                            subjects = ["HONOR1-MSD", "HONOR1-FICT", "PSE", "COL", "CO", "DBMS", "AI", "CN", "IFC-ROBO", "SE-1", "EPP",];
                            break;
                        case "sem6":
                            subjects = ["HONOR2-EH", "HONOR2-BDA", "ADS", "SP", "RTCN", "WST", "OS", "DAA", "SE-2", "DSCI", "ES"];
                            break;
                        case "sem7":
                            subjects = ["HONOR3-DL", "HONOR3-MA", "DE3-IOT", "DE3-NLP", "DE3-CS", "CNS", "CC", "IPR", "DE2-IR", "DE2-ADBMS", "DE2-DS"];
                            break;
                        case "sem8":
                            subjects = ["HONOR4-RL", "HONOR4-IOTS", "DE4-SA", "DE4-GIS", "DE4-GPUC", "DE4-MAN"];
                            break;
                    }
                    break;
                case "electrical":
                    switch (semSelect.value) {
                        case "sem1":
                            subjects = ["LA", "OMP", "BEE", "FME", "PPS", "ACH", "IKS", "LLC"];
                            break;
                        case "sem2":
                            subjects = ["QP", "PS", "DLD", "EDG", "DS", "WD", "CS", "LLC-II"];
                            break;
                        case "sem3":
                            subjects = ["ODEMC", "PLEVH", "INC", "DTL", "FCS", "DSA-I", "DLD", "DSGT", "PPL"];
                            break;
                        case "sem4":
                            subjects = ["VCPDE", "BFE", "RPPOOP", "SA", "TOC", "MT", "DSA-II", "DC"];
                            break;
                        case "sem5":
                            subjects = ["HONOR1-MSD", "HONOR1-FICT", "PSE", "COL", "CO", "DBMS", "AI", "CN", "IFC-ROBO", "SE-1", "EPP",];
                            break;
                        case "sem6":
                            subjects = ["HONOR2-EH", "HONOR2-BDA", "ADS", "SP", "RTCN", "WST", "OS", "DAA", "SE-2", "DSCI", "ES"];
                            break;
                        case "sem7":
                            subjects = ["HONOR3-DL", "HONOR3-MA", "DE3-IOT", "DE3-NLP", "DE3-CS", "CNS", "CC", "IPR", "DE2-IR", "DE2-ADBMS", "DE2-DS"];
                            break;
                        case "sem8":
                            subjects = ["HONOR4-RL", "HONOR4-IOTS", "DE4-SA", "DE4-GIS", "DE4-GPUC", "DE4-MAN"];
                            break;
                    }
                    break;
                case "manufacturing":
                    switch (semSelect.value) {
                        case "sem1":
                            subjects = ["LA", "OMP", "BEE", "FME", "PPS", "ACH", "IKS", "LLC"];
                            break;
                        case "sem2":
                            subjects = ["QP", "PS", "DLD", "EDG", "DS", "WD", "CS", "LLC-II"];
                            break;
                        case "sem3":
                            subjects = ["ODEMC", "PLEVH", "INC", "DTL", "FCS", "DSA-I", "DLD", "DSGT", "PPL"];
                            break;
                        case "sem4":
                            subjects = ["VCPDE", "BFE", "RPPOOP", "SA", "TOC", "MT", "DSA-II", "DC"];
                            break;
                        case "sem5":
                            subjects = ["HONOR1-MSD", "HONOR1-FICT", "PSE", "COL", "CO", "DBMS", "AI", "CN", "IFC-ROBO", "SE-1", "EPP",];
                            break;
                        case "sem6":
                            subjects = ["HONOR2-EH", "HONOR2-BDA", "ADS", "SP", "RTCN", "WST", "OS", "DAA", "SE-2", "DSCI", "ES"];
                            break;
                        case "sem7":
                            subjects = ["HONOR3-DL", "HONOR3-MA", "DE3-IOT", "DE3-NLP", "DE3-CS", "CNS", "CC", "IPR", "DE2-IR", "DE2-ADBMS", "DE2-DS"];
                            break;
                        case "sem8":
                            subjects = ["HONOR4-RL", "HONOR4-IOTS", "DE4-SA", "DE4-GIS", "DE4-GPUC", "DE4-MAN"];
                            break;
                    }
                    break;
                case "metallurgy":
                    switch (semSelect.value) {
                        case "sem1":
                            subjects = ["LA", "OMP", "BEE", "FME", "PPS", "ACH", "IKS", "LLC"];
                            break;
                        case "sem2":
                            subjects = ["QP", "PS", "DLD", "EDG", "DS", "WD", "CS", "LLC-II"];
                            break;
                        case "sem3":
                            subjects = ["ODEMC", "PLEVH", "INC", "DTL", "FCS", "DSA-I", "DLD", "DSGT", "PPL"];
                            break;
                        case "sem4":
                            subjects = ["VCPDE", "BFE", "RPPOOP", "SA", "TOC", "MT", "DSA-II", "DC"];
                            break;
                        case "sem5":
                            subjects = ["HONOR1-MSD", "HONOR1-FICT", "PSE", "COL", "CO", "DBMS", "AI", "CN", "IFC-ROBO", "SE-1", "EPP",];
                            break;
                        case "sem6":
                            subjects = ["HONOR2-EH", "HONOR2-BDA", "ADS", "SP", "RTCN", "WST", "OS", "DAA", "SE-2", "DSCI", "ES"];
                            break;
                        case "sem7":
                            subjects = ["HONOR3-DL", "HONOR3-MA", "DE3-IOT", "DE3-NLP", "DE3-CS", "CNS", "CC", "IPR", "DE2-IR", "DE2-ADBMS", "DE2-DS"];
                            break;
                        case "sem8":
                            subjects = ["HONOR4-RL", "HONOR4-IOTS", "DE4-SA", "DE4-GIS", "DE4-GPUC", "DE4-MAN"];
                            break;
                    }
                    break;
                // Add more cases for additional branches
            }

            // Populate subject options
            subjects.forEach(function (subject) {
                subjectSelect.innerHTML += '<option value="' + subject + '">' + subject + '</option>';
            });
        }

        
        // Function to validate form
        function validateForm() {
            var yearSelect = document.getElementById("year");
            var branchSelect = document.getElementById("branch");
            var semSelect = document.getElementById("sem");
            var subjectSelect = document.getElementById("subject");
            var typeSelect = document.getElementById("type");
            var titleSelect = document.getElementById("title");
            var fileInput = document.getElementById("file");

            var yearError = document.getElementById("yearError");
            var branchError = document.getElementById("branchError");
            var semError = document.getElementById("semError");
            var subjectError = document.getElementById("subjectError");
            var typeError = document.getElementById("typeError");
            var titleError = document.getElementById("titleError");
            var fileError = document.getElementById("fileError");

            // Reset error messages
            yearError.textContent = "";
            branchError.textContent = "";
            semError.textContent = "";
            subjectError.textContent = "";
            typeError.textContent = "";
            titleError.textContent = "";
            fileError.textContent = "";

            // Validate resource type and file
            if (yearSelect.value === "") {
                yearError.textContent = "Please select a year.";
                return false;
            }

            if (branchSelect.value === "") {
                branchError.textContent = "Please select a branch.";
                return false;
            }

            if (semSelect.value === "") {
                semError.textContent = "Please select a semester.";
                return false;
            }

            if (subjectSelect.value === "") {
                subjectError.textContent = "Please select a subject.";
                return false;
            }

            if (typeSelect.value === "") {
                typeError.textContent = "Please select a resource type.";
                return false;
            }

            if (titleSelect.value === "") {
                titleError.textContent = "Please enter a title";
                return false;
            }

            if (fileInput.value === "") {
                fileError.textContent = "Please choose a file.";
                return false;
            }

            // Extract file extension
            var fileName = fileInput.value;
            var fileExtension = fileName.split(".").pop();

            // Check file extension based on resource type
            if (typeSelect.value === "Video" && fileExtension.toLowerCase() !== "mp4") {
                fileError.textContent = "Please choose a .mp4 file for video.";
                return false;
            }

            if (typeSelect.value === "Book" && fileExtension.toLowerCase() !== "pdf") {
                fileError.textContent = "Please choose a .pdf file for book.";
                return false;
            }

            // Add more conditions for other resource types as needed

            // Form is valid
            return true;
        }
    </script>
</body>
</html>
